@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #F2F2F2;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 136);
    border-radius: 20px;
    border: 2px solid #F2F2F2;
}

.header_home {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    background-color: #ffffff;
    padding: 1% 6%;
    width: 100%;
    transition: all linear .3s;
}

.Menu {
    margin-top: 0;
    list-style: none;
    display: flex;
    margin-left: 42px;
}

.menu {
    margin-top: 0;
    list-style: none;
    display: flex;
    margin-left: 42px;
}

.menu_escondido {
    display: none;
}

.menu-button-earth {
    box-shadow: 4px 4px 6px rgb(190 190 190);
    display: inline;
    position: fixed;
    background-color: #e7e7e7;
    display: flex;
    margin: 0 auto;
    background: #e7e7e7;
    line-height: 1.6em;
    width: 191px;
    color: #fff;
    margin-top: 20px;
    padding: 1%;
    display: flex;
    align-items: center;
}

.menu-button-earth:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e7e7e7;
    top: -20px;
    left: 14%;
}

.menu-button-conta {
    box-shadow: 4px 4px 6px rgb(190 190 190);
    display: inline;
    position: fixed;
    background-color: #e7e7e7;
    display: flex;
    margin: 0 auto;
    background: #e7e7e7;
    line-height: 1.6em;
    width: 191px;
    height: 169px;
    color: #fff;
    margin-top: 20px;
    padding: 1%;
    align-items: center;
    flex-direction: column;
}

.menu-button-conta:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e7e7e7;
    top: -20px;
    left: 11%;
}

.menu-button {
    list-style: none;
    display: inline;
    position: absolute;
    display: flex;
    padding: 6%;
    width: 100%;
    height: 100%;
    text-align: initial;
    flex-direction: column;
}

.menu-escondido-button {
    display: none;
}

.menu-button-earth hr {
    margin-bottom: 2%;
}

.menu-text-dentro {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    opacity: 0.3;
    padding: 10%;
    margin-top: -7%;
}

.a-menu {
    text-decoration: none;
    color: #000;
}

.button-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.button-conteudo-2 {
    display: flex;
    flex-direction: column;
    padding: 0%;
    width: 100%;
    height: 14%;
    justify-content: space-between;
    align-items: flex-start;
}

.button-conteudo-3 {
    list-style: none;
}

.menu-button-ajuda {
    box-shadow: 4px 4px 6px rgb(190 190 190);
    display: inline;
    position: absolute;
    background-color: #e7e7e7;
    display: flex;
    margin: 0 auto;
    background: #e7e7e7;
    line-height: 1.6em;
    width: 246px;
    height: 187px;
    color: #fff;
    padding: 2%;
    margin-top: 20px;
    justify-content: space-between;
}

.menu-button-ajuda:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e7e7e7;
    top: -20px;
    left: 8%;
}

li {
    margin-right: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.button_normal {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-right: 2rem;
}

.button_home {
    width: 238.5px;
    height: 60px;
    background-color: #fd6699;
    text-transform: none;
}

.button_home {
    padding: 8%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-rendering: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Logo {
    width: 75px;
    margin-top: 0.5%;
}

.logo_aparecer {
    margin-right: 0%;
    margin-top: 0.5%;
    width: 40px;
}

.img_1 {
    padding-top: 90px;
    margin: 0px;
}

.container-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.nav_1 {
    background-color: #F2F2F2;
}

.esconder_menu {
    visibility: hidden;
    opacity: 0;
    margin-left: -178px;
}

.menu_compacto {
    padding: 0 6%;
}

.Text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: -21%;
    display: none;
}

.Menu_react {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 9.3%;
    display: none;
}

@keyframes aparecerTexto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Menu_aparecer {
    animation-name: aparecerTexto;
    animation-duration: 1s;
    display: inline;
}

.Text_aparecer {
    animation-name: aparecerTexto;
    animation-duration: 1s;
    display: inline;
}

@media only screen and (max-width: 1228px) {
    .Menu_react {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-top: 9.3%;
        display: inline;
    }
    .button_home {
        display: none;
    }
    .esconder_menu {
        display: none;
    }
    .container-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
    }
    .Text {
        display: none;
    }
    .header_home {
        z-index: 99;
        position: fixed;
        display: flex;
        justify-content: space-between;
        row-gap: 10px;
        grid-template-columns: repeat(10, 1fr);
        background-color: #ffffff;
        padding: 7% 13%;
        margin-top: -25%;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
    .menu_compacto {
        padding: 2.5% 12%;
        margin-top: -25%;
    }
    .Menu {
        display: none;
    }
    .Logo {
        width: 75px;
        margin-top: 17.5%;
    }
    .Menu_react {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-top: 32.3px;
        display: inline;
    }
}

@media only screen and (max-width: 1100px) {
    .header_home {
        z-index: 99;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 10px;
        grid-template-columns: repeat(10, 1fr);
        background-color: #ffffff;
        padding: 9% 11%;
        margin-top: -35%;
        width: 100%;
    }
    .menu_compacto {
        position: fixed;
        padding: 1.5% 12%;
        margin-top: -26%;
    }
    .logo_aparecer {
        margin-right: 0%;
        margin-top: 59.5%;
        width: 40px;
    }
    .Logo {
        width: 75px;
        margin-top: 23.5%;
    }
    .container-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        margin-top: 6%;
    }
    .Menu_react {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-top: 32.3px;
        display: inline;
    }
}