.slide{
    background: url('../img/cover-tata-desk.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.img-mulhe{
    margin-right: 13%;
}
.nav_2{
    background-color: #F2F2F2;
    margin-top: 25%;
}
.Button_Poupar{
margin-left: 81.9%;
background-color: #48D1CC;
width: 248px;
height: 75px;
margin-top: 0%;
}
#bnt1{
background-color: #48D1CC;
text-decoration: none;
width: 247px;
height: 75px;
}
.CentralText{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 30px;
    width: 96%;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
    padding-top: 18%;
    justify-content: space-between;
}

.CentralText span{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    background-color: #00ffb7;
    display: inline-block;
    padding: 0 1rem;
    margin-left: -1rem;
    position: relative;
    padding: 5px 20px;
}
.img-mulhe{
    width: 100%;
    margin-left: 12%;
    display: none;
}
@media only screen and (max-width: 1228px) {
    .text_nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .CentralText span {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        color: black;
        background-color: #00ffb7;
        display: inline-block;
        padding: 0 1rem;
        margin-left: -1rem;
        position: relative;
        padding: 5px 63px;
        margin-bottom: -2%;
        margin-top: -5%;
    }
    .CentralText {
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 17px;
        margin-left: 0px;
        padding: 0%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .slide {
        background: url(retrato-de-uma-jovem-surpreendida.png);
        background-size: contain;
        width: 100%;
        height: 0%;
        margin-top: 25%;
        /* background-repeat: no-repeat;
        background-color: palevioletred; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-mulhe{
        display: none;
        width: 361px; 
        margin-left: 0%;
        display: inline;
    }
}
    