.TemearthBox-div{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    padding: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.TemearthBox-box{
    width: 100%;
    height: 621px;
    background-color: var(--corCinza);
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 8;
    border-radius: 18px;
}
.TemearthBox-componet-1{
    height: 604px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px;
}
.TemearthBox-componet-2{
    padding: 46px;
}
#Temearth-titulo{
    font-size: 44px;
}
#Temearth-img{
    width: 381px;
}
#Temearth-contex{
    font-size: 23px;
    z-index: 8;
}
#Temearth-img-cust{
    width: 100%;
    margin-right: 368px;
    margin-top: -373px;
}
#Temearth-curva{
    width: 1090px;
}