.Openfinance_diferencias-div{
    font-family: 'Poppins', sans-serif;
    margin-top: 289px;
    display: flex;
}
.Openfinance_diferencias-div-1{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Openfinance_diferencias-div-2{
    width: 50%;
}
.OPENFIMNCE-img{
    width: 100%;
}
#Openfinance_diferencias-span{
    font-size: 19px;
}
#Openfinance_diferencias-div-organizar{
    width: 733px;
    height: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Openfinance_diferencias-titulo{
    width: 268px;
    height: 140px;
    font-size: 29px;
}
#Openfinance_diferentes-titulo-p {
    font-weight: bold;
}