.PagamentosDigitais-div{
    background-color: var(--corCinza);
    width: 100%;
    height: 867px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PagamentosDigitais-cubo{
    display: flex;
    background-color: var(--CorBranca);;
    width: 307px;
    height: 273px;
    flex-direction: column;
    justify-content: center;
    padding: 27px;
}

.PagamentosDigitais-caixa-digitais{
    display: flex;
    height: 100%;
    width: 1299px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-around;
}
.PagamentosDigitais-text{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 37px;
}
.PagamentosDigitais-saibaMais{
    color: var(--CorRosa);
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid var(--CorRosa);
    margin-top: 20px;
    width: 67px;
}
.PagamentosDigitais-text-info{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;  
}
#text-titulo-pagamentos-digitais{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 5%;
}
#text-pagamentos-digitais-primario{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}
#text-pagamentos-digitais-centro{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.PagamentosDigitais-logos{
    width: 43px;
}
.PagamentosDigitais-logos-samsung {
    width: 118px;
}
.PagamentosDigitais-logo-google {
    width: 66px;
}
.PagamentosDigitais-logos-watss {
    width: 22px;
}
.PagamentosDigitais-logos-aprocimacao{
    width: 32px;
}
.PagamentosDigitais-caixa-tudo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1360px) {
    .PagamentosDigitais-caixa-tudo{
        width: 655px;
    }
    .PagamentosDigitais-div {
        background-color: var(--corCinza);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .PagamentosDigitais-caixa-digitais {
        display: flex;
        width: 686px;
        height: 1300px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 16%;
    }
}
@media only screen and (max-width: 1100px) {
    .PagamentosDigitais-div {
        background-color: var(--corCinza);
        width: 100%;
        height: 100%;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .PagamentosDigitais-caixa-digitais {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 2349px;
        justify-content: space-around;
        margin-bottom: 16%;
        align-items: center;
    }
    .PagamentosDigitais-text {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 37px;
    }
}
@media only screen and (max-width: 750px) {

}